.header{
    background-color: #ffe4c4AA;
    color: black;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    height: 100;
    font-family: '8BIT WONDER', sans-serif;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1{
    font-size: 40px;
  color: black;
}
.fotoperfil img{
    border-radius: 100%;
}

.botones{
    display:flex;
    justify-content: center;
    padding: 35px;
}
.btn1{
    margin-right: 10px;
}